html,
body,
.row,
.col {
    height: 100%;
}

.single-photo__gradient-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
}

.bg-img {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-default {
    background: transparent!important;
    border: 0px!important;
    margin: 0!important;
}

.navbar-brand {
    width: 200px;
    position: relative;
    left: 30px;
    top: 30px;
}

.navbar-default img {
    width: 100%;
}

.container-landing {
    width: 80%;
    height: 100%;
    margin: auto;
}

.video-phone {
    background: url(../img/iphone.png) no-repeat 0 0;
    width: 324px;
    height: 664px;
    padding: 80px 24px 90px 25px;
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100px;
}

.video-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

#phone-video {
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#left-content {
    height: 100%;
    display: table;
    position: absolute;
    top: -107px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

h2 {
    font-size: 44px!important;
    color: #fff!important;
}

p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    color: #fff;
}

.input-group {
    display: block!important;
}

.input-group input,
.input-group button {
    border-radius: 9px!important;
    height: 50px;
}

.input-group input {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5f4f4;
    border-color: : #f5f4f4;
}

.input-group button {
    width: 150px;
    background-color: #C8DCC3;
    color: #2b2b2b;
    border-color: #C8DCC3;
    font-weight: bold;
}

#form-input {
    margin: 40px 0
}

.p-l-0 {
    padding-left: 0px!important
}

.p-r-0 {
    padding-right: 0px!important
}

#phone-video-slide {
    background: #000;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(../img/slide1.jpg);
}

.slide2 {
    background-image: url(../img/slide2.jpg);
}

.slide3 {
    background-image: url(../img/slide3.jpg);
}

.slide4 {
    background-image: url(../img/slide4.jpg);
}

.slide5 {
    background-image: url(../img/slide5.jpg);
}

.slide6 {
    background-image: url(../img/slide6.jpg);
}

.slide7 {
    background-image: url(../img/slide7.jpg);
}

.slick-list,
.slick-track {
    height: 100%;
}

@media (min-width: 991px) {
    body {
        overflow: hidden;
    }
    .col-form {
        position: relative;
        top: -470px;
    }
    #phone-video {
        display: block;
    }
    #phone-video-slide {
        display: none;
    }
}

@media (max-width: 991px) {
    body {
        overflow: visible;
    }
    .col-form {
        padding-bottom: 25px;
    }
    #phone-video {
        display: none;
    }
    #phone-video-slide {
        display: block;
        margin: 0;
        padding: 0;
    }
    .navbar-default {
        display: none;
    }
    h2 {
        font-size: 26px!important;
        text-align: center;
        word-spacing: 2px;
    }
    p {
        font-size: 18px;
        text-align: center;
    }
    .col {
        height: auto;
    }
    #left-content {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        padding: 28px 0;
    }
    .video-phone {
        position: relative;
        top: 0;
        display: block;
    }
    .input-group input,
    .input-group button {
        margin: 10px 0;
    }
    .input-group button {
        width: 100%;
    }
    #form-input {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .p-l-0 {
        padding-left: 15px!important;
    }
    .p-r-0 {
        padding-right: 15px!important;
    }
    .video-phone {
        background-image: url(../img/iphone-mobile.png);
        width: 225px;
        height: 457px;
        padding: 60px 25px 65px 25px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)and (-webkit-min-device-pixel-ratio: 2) {
    .bg-img {
        left: 50%;
        margin-left: -512px;
    }
}
