@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/bebas/BebasNeue_Regular.otf');
}

@font-face {
    font-family: 'avenir_black';
    src: url('../fonts/avenir/Avenir-Black.otf');
}

@font-face {
    font-family: 'avenir_medium';
    src: url('../fonts/avenir/Avenir-Medium.otf');
}

@font-face {
    font-family: 'avenir_light';
    src: url('../fonts/avenir/Avenir-Light.otf');
}

body {
    color: #fff;
    font-family: 'ProximaNova';
}

.bg-img {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.bg-color {
    background-color: #f6cc4c;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.btn-box {
    width: 100%;
    position: absolute;
    bottom: 0
}

.btn-box button {
    width: 100%;
    background: #000;
    color: #fff;
    border-radius: 0;
    border-color: #000;
    margin: 0;
    height: 70px;
    font-size: 25px;
    font-family: 'BebasNeue';
}

.btn-box button:hover,
.btn-box button:focus {
    background: #000;
    color: #fff;
    border-color: #000;
}

.container h2 {
    text-transform: capitalize;
    font-family: 'BebasNeue';
    font-size: 60px;
    font-weight: 600;
    background: #000;
    display: table;
    box-shadow: 11px 0 0 #000000, -11px 0 0 #000000;
    line-height: 90px;
    margin: 0;
}

.container p {
    font-size: 20px;
    background: #000;
    display: inline;
    box-shadow: 11px 0 0 #000000, -11px 0 0 #000000;
    line-height: 35px;
    padding: 8px 8px 8px 0;
    position: relative;
    top: 17px
}

.single-photo__gradient-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
}

.modal-dialog {
    margin: 0;
    width: 100%;
}

.modal-content {
    width: 100%;
    height: 100%;
    background: #f6cc4c;
    border-radius: 0;
}

.modal-header {
    border: 0;
    position: absolute;
    width: 100%;
    z-index: 10
}

.close {
    color: #fff;
    opacity: 1;
    font-size: 37px;
}

.input-group {
    width: 100%;
}

.input-group .form-control {
    border-radius: 0;
}

.btn {
    width: 100%;
}

.submit-btn {
    font-family: 'BebasNeue';
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 47px;
}

.phone-number {
    background: #fff;
    border-color: #fff;
    height: 75px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    margin-left: 2px;
    font-family: 'avenir_light';
    letter-spacing: 1px
}

.logo {
    width: 135px;
    margin: auto
}

.logo img {
    width: 100%;
}

.phone-number::-webkit-input-placeholder {
    color: #4f4f4f;
    letter-spacing: 1px;
    font-family: 'avenir_light';
    font-style: italic;
}

.phone-number:-moz-placeholder {
    color: #4f4f4f;
    letter-spacing: 1px;
    font-family: 'avenir_light';
    font-style: italic;
}

.phone-number::-moz-placeholder {
    color: #4f4f4f;
    letter-spacing: 1px;
    font-family: 'avenir_light';
    font-style: italic;
}

.phone-number:-ms-input-placeholder {
    color: #4f4f4f;
    letter-spacing: 1px;
    font-family: 'avenir_light';
    font-style: italic;
}

.modal-container {
    text-align: center;
}

.modal-container h1 {
    font-family: 'avenir_black';
    text-transform: uppercase;
    color: #000;
    font-size: 4em;
    letter-spacing: 0.1em;
    padding: 1.4em 0;
}

.modal-container p {
    font-family: 'avenir_medium';
    background: transparent;
    display: block;
    box-shadow: none;
    line-height: normal;
    padding: 0;
    position: relative;
    top: 0;
    padding-bottom: 30px;
    color: #000;
    font-size: 2em;
}

.input-group-addon {
    padding: 6px 35px;
    font-family: 'avenir_medium';
    font-size: 23px!important;
    letter-spacing: 1px;
    border-color: #fff;
    color: #424242;
    background-color: #fff;
    border-radius: 0;
}

button.envelope-1 {
    background-color: #f6cc4c;
}

button.envelope-1 span {
    color: #000
}

button.envelope-2 {
    background-color: #000;
}

button.envelope-2 span {
    color: #f6cc4c
}

.input-group-btn button {
    width: 75px;
    height: 75px;
    font-size: 25px;
}

@media (min-width: 768px) {
    .modal-container {
        margin: auto;
        width: 700px;
    }
    .submit-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .input-group-btn {
        display: none;
    }
    .input-group-addon {
        padding: 6px 18px;
        font-size: 15px!important;
    }
    .phone-number {
        height: 50px;
        font-size: 16px;
    }
    .container p {
        width: 100%;
        font-size: 14px;
    }
    .modal-container {
        width: 100%;
    }
    .container h2 {
        font-size: 30px;
        line-height: 55px;
    }
    .modal-container p {
        font-size: 20px;
    }
    .modal-container h1 {
        font-size: 30px;
        padding: 1em 0;
    }
}
